<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <title>Collective</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="/static/img/favicon.ico">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/flat-ui.css">
        <!-- Using only with Flat-UI (free)-->

        <!-- end -->
        <link rel="stylesheet" href="/static/css/style.css">

    </head>

    <body>
        <div class="page-wrapper">
            <!-- header-10 -->
            <header class="header-10">
                <div class="container">
                    <div class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#">Collective</a>
                         </div>
                        <div class="collapse navbar-collapse pull-right">
                            <ul class="nav pull-left">
                                <li class="active"><a href="#">Rules</a></li>
                                <li><a href="#">Leaderboard</a></li>
                            </ul>
                            <form class="navbar-form pull-left">
                                <a class="btn btn-info" href="#play">Play</a>
                            </form>
                        </div>
                    </div>
                </div>
            </header>
            <section class="header-10-sub v-center bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div>
                    <div class="container">
                        <div class="hero-unit">
                            <h1>Guess your friends move and collect more coins. </h1>
                            <p>
                                using Twilio, SendGrid, Arduino, etc. 
                            </p>
                        </div>
                    </div>
                </div>
                <a class="fui-arrow-down" href="#"> </a>
            </section>

                        <!-- content-11  -->
            <section class="content-11" id="play">
                <div class="container" >
                    <span>Text UP, DOWN, LEFT, RIGHT, COLLECT at 324-234-2341</span>
                    <a class="btn btn-large btn-danger" href="#">TRY IT NOW</a>
                </div>
            </section>

            <!-- content-7  -->

            <section class="content-7 v-center">
                <div>

                    <div class="container">
                        <h3>Who is winning?</h3>

                        <div class="row v-center">
                            <div class="col-sm-3">
                                <div>
                                    See how you rank
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-offset-1">
                                    <div class="screen-wrapper">
                                        <div class="screen">

                                                                   
                                            <div id="outer">

                                                <ul id="leaderboard"></ul>
                                                
                                                <table id="myTable">
                                                  <tr>
                                                    <td>
                                                       
                                                            <div>
                                                                See how you rank
                                                            </div>
                                                        
                                                    </td>
                                  
                                                    <td>50</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Eve</td>
                                                    <td>94</td>
                                                  </tr>
                                                </table>
                                            </div>

                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-offset-2">
                                    <h6>Live Updates</h6>
                                    Lorem Impus. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-23  -->
            <section class="content-23 v-center bg-midnight-blue custom-bg">
                <div>
                    <div class="container">
                        <div class="hero-unit hero-unit-bordered">
                            <h1>Rules</h1>
                        </div>
                    </div>
                </div>
            </section>

            <!-- content-8  -->
            <section class="content-8 v-center">
                <div>
                    <div class="container">
                        <img width="280" height="87" alt="" src="/static/icons/Money@2x.png"/>
                        <h3>Collect coins</h3>
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <p>
                                    asdfakdjlfasdkjbf adsbfilnasdkflk
                                </p>
                                <a class="btn btn-large btn-clear" href="#">TRY IT NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- footer-3 -->
            <footer class="footer-3">
                <div class="container">
                    <div class="row v-center">
                        <div class="col-sm-7">
                            <div class="additional-links">
                                Created at PennAppsX by Alejandro Rioja, Amiel Kollek and Andrew Elsey. </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </footer>
        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/modernizr.custom.js"></script>
        <script src="/static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
        <script src="/static/js/jquery.parallax.min.js"></script>
        <script src="/static/js/startup-kit.js"></script>
        <script src="/static/js/jquery.backgroundvideo.min.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/leaderboard.js"></script>
        <script>
                var myTable = document.getElementById('myTable');
                myTable.rows[0].cells[1].innerHTML = 'New Value';
        </script>

    </body>

<template name="leaderboard">
    <div class="leaderboard">
    { {#each players} }
      { {> player} }
    { {/each} }
    </div>

    { {#if selected_name} }
    <div class="details">
    <div class="name">{ {selected_name} }</div>
    <input type="button" class="inc" value="Give 5 points" />
    </div>
    { {else} }
    <div class="none">Click a player to select</div>
    { {/if} }
</template>

<template name="player">
    <div class="player { {selected} }">
    <span class="name">{ {name} }</span>
    <span class="score">{ {score} }</span>
    </div>
</template>

</html>